body{
    background: linear-gradient(100deg, rgba(40, 255, 248, 0.899),rgb(0, 60, 128));
    background-size: cover;
  
    background-repeat: no-repeat;
}

.container {
    
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
  
}

.pics{
    margin-top:20px;

}

.pics img {
    border-radius: 300px;
    float:left;
    margin-left:80px;
}

.jump{
    margin-top:-5px;
    text-decoration: none;
    margin-left: 10px; 
    display: inline-block;
    

}
h2,.jump,.containert,#r{
    color:rgb(255, 0, 128);
}

.jump:hover {
    color: #ffff00; 
    transition: 0.3s;
}

pre{

    font-size:18px;
    font-family: sans-serif;
}

.containert{
    

    text-align: center;
    font-size: 20px;
  
}

.olcl{

    color: rgb(255, 255, 255);
    font-size:20px;
    margin-left: -900px;
    text-align: center;

}
ol {
    list-style-position: inside; 

    
}  

.containertr{
margin-top: 100px;
}



#r{
    
    text-align: center; 
}
